.business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
  }
  
  .business .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
  }
  
  .business h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .business-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .business-information-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .business-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }
  
  .business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .business-name {
    color: #cca353;
    text-decoration: none;
  }
  .business-name:hover {
    color: #a7874b;
    text-decoration: underline;
  }